<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <title>Welcome Email</title>
  <style>
    .footertext {
      font-size: 12px;
    }
    @media (min-width: 640px) {
      .footertext {
        font-size: 16px;
      }
    }
  </style>
</head>
<body style="margin: 0px">
  <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 1.25rem; font-family: 'Nunito', sans-serif;">
    <section style="max-width: 42rem; background-color: #fff;">
      <header style="padding-top: 1rem; padding-bottom: 1rem; display: flex; justify-content: center; width: 100%;">
      </header>
      <div style="width: 100%; height: 2px; background-color: #365CCE;"></div>
      <div style="text-align: center; width: 100%; margin-top: 15px;">
        <div style="font-weight: bold; font-size: 25px;">
          Thanks for <span style="position: relative">
            Signing up!
            <div style="position: absolute; height: 3px; background-color: #365CCE; width: 55px; left: 1px; bottom: -4px;"></div>
          </span>
        </div>
      </div>
      <main style="text-align: start; padding-left: 20px; padding-right: 20px;">
        <p>
          Hey <span style="font-weight: bold;">User</span>, We're glad you are here!
        </p>
        <p style="margin-top: 10px;">
          You’re joining an amazing community of <span style="font-weight: bold;">Automated Trading</span>. You'll be the first to hear about updates on new features, trading strategies, and much more. If you’re interested in learning more about automated trading or need help setting up your trading algorithms, feel free to contact our support team at any time. We’re always here to assist you in any way we can.
        </p>
        <a href="127.0.0.1:5000/dashboard">
          <button style="padding-left: 1.25rem; padding-right: 1.25rem; padding-top: 0.5rem; padding-bottom: 0.5rem; margin-top: 1.5rem; font-size: 14px; font-weight: bold; text-transform: capitalize; background-color: #f97316; color: #fff; transition-property: background-color; transition-duration: 300ms; transform: none; border-radius: 0.375rem; border-width: 1px; border: none; outline: none; cursor: pointer;">
            Visit Site
          </button>
        </a>
        <p>
          Thank you, <br />
          Deepanshu Goyal
        </p>
      </main>
      <p style="padding-left: 1.25rem; padding-right: 1.25rem; margin-top: 2rem;">
        This email was sent from <a href="mailto:rajandran@openalgo.in" alt="" target="_blank">rajandran@openalgo.in</a>. If you'd rather not receive this kind of email, you can <a href="#">unsubscribe</a> or <a href="#">manage your email preferences</a>.
      </p>
      <footer style="margin-top: 2rem;">
        <div style="background-color: rgba(209, 213, 219, 0.6); height: 200px; display: flex; flex-direction: column; gap: 1.25rem; justify-content: center; align-items: center;">
          <div style="text-align: center; display: flex; flex-direction: column; gap: 0.75rem;">
            <h1 style="color: #365cce; font-weight: bold; font-size: 20px; letter-spacing: 2px;">
              Get in touch
            </h1>
            <a href="tel:+91-94649-XXXXX" style="color: #4b5563;" alt="+91-94649-XXXXX">
              +91-94649-XXXXX
            </a>
            <a href="rajandran@openalgo.in" style="color: #4b5563;" alt="rajandran@openalgo.in">
              rajandran@openalgo.in
            </a>
          </div>
          <div style="display: flex; align-items: center; justify-content: center; gap: 0.75rem;">
            <a href="#_">
              <svg stroke="currentColor" fill="gray" stroke-width="0" viewBox="0 0 16 16" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
              </svg>
            </a>
            <a href="#_">
              <svg stroke="currentColor" fill="gray" stroke-width="0" viewBox="0 0 1024 1024" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3 645.3 585.4 645.3 512 585.4 378.7 512 378.7zM911.8 512c0-55.2.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9 717.1 398.5 717.1 512 625.5 717.1 512 717.1zM737.4 311.5c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z"></path>
              </svg>
            </a>
            <a href="#_">
              <svg stroke="currentColor" fill="gray" stroke-width="0" viewBox="0 0 1024 1024" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                <path d="M928 254.1c-32.4 14.3-67.3 24-104 28.3 37.3-22.3 66-57.7 79.5-99.8-34.9 20.7-73.6 35.8-114.8 44-32.9-35.1-79.6-57-131.3-57-99.4 0-179.9 87.2-167.2 187.8-148.3-7.4-279.7-78.4-367.6-186.3-15.3 26.5-24.1 57.3-24.1 90.2 0 62.4 31.6 117.5 79.7 149.8-29.4-.9-57.1-9-81.4-22.5v2.3c0 87 61.8 159.5 144 176-15 4.1-30.8 6.3-47 6.3-11.6 0-22.8-1.1-33.8-3.2 22.8 71.3 89.2 123.2 167.8 124.7-61.5 48.2-138.9 77.2-223.1 77.2-14.5 0-28.8-.8-42.9-2.5 79.5 51 173.8 80.8 275 80.8 329.9 0 510.1-273.4 499.4-518.6 34.6-25 66-56 90.2-91.5z"></path>
              </svg>
            </a>
            <a href="#_">
              <svg stroke="currentColor" fill="gray" stroke-width="0" viewBox="0 0 1024 1024" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                <path d="M511.6 64c-247.8 0-448 200.2-448 448s200.2 448 448 448 448-200.2 448-448-200.2-448-448-448zM747.2 403.4c.2 3 .2 6.1.2 9.1 0 92.9-70.7 199.9-199.9 199.9-39.7 0-76.7-11.6-107.8-31.4 5.5.6 11.1.9 16.8.9 32.9 0 63.2-11.2 87.2-30-30.8-.6-56.8-20.9-65.8-48.7 4.3.8 8.7 1.2 13.2 1.2 6.4 0 12.6-.9 18.4-2.4-32.2-6.5-56.4-34.8-56.4-68.8v-.9c9.5 5.3 20.5 8.5 32.2 8.8-19-12.7-31.5-34.5-31.5-59.2 0-13.1 3.5-25.4 9.6-36 34.9 42.8 87.2 70.8 146.2 73.7-1.2-5.3-1.8-10.8-1.8-16.5 0-39.8 32.2-72 72-72 20.7 0 39.3 8.8 52.4 22.9 16.4-3.2 31.9-9.2 45.8-17.5-5.4 16.9-16.8 31.1-31.8 40.1 14.6-1.7 28.6-5.6 41.6-11.4-9.7 14.4-21.9 27-36 37.1z"></path>
              </svg>
            </a>
          </div>
        </div>
        <p style="text-align: center; color: #4b5563; padding-top: 1rem;" class="footertext">
          &copy;  2024 Your Company. All rights reserved.
        </p>
      </footer>
    </section>
  </div>
</body>
</html>
